<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZhimingShop.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2AF915DF1C1EB0AA00237F17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AF915F81C1EB0AA00237F17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AF916031C1EB0AA00237F17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
